.personagens {
  display: flex;
  background: url('../Assets/background.svg') no-repeat right;
  height: 672px;
}

.personagens .mainBox1,
.personagens .mainBox2,
.personagens .mainBox3 {
  width: 289px;
  height: 439px;
  margin-top: 139px;
  margin-left: 147px;
  background: url("../Assets/Personagens/wanda.svg") no-repeat;
}

.personagens .mainBox2,
.personagens .mainBox3 {
  margin-left: 103px;
  background: url("../Assets/Personagens/thanos.svg") no-repeat;
}

.personagens .mainBox3 {
  background: url("../Assets/Personagens/hulk.svg") no-repeat;
}

.personagens .backgroundMainImg {
  width: 289px;
  height: 234px;
  background: url("../Assets/Personagens/backgroundMainImg.svg") no-repeat;
  position: absolute;
  margin-top: 205px;
  display: grid;
}

.personagens .dontShownOnScreen {
  display: none;
}

.personagens .opacity {
  opacity: 0.2;
}

.personagens .mainBox1Details,
.personagens .mainBox2Details,
.personagens .mainBox3Details {
  width: 681px;
  height: 439px;
  margin-top: 139px;
  margin-left: 147px;
  background: url("../Assets/Personagens/wanda-detalhes.svg") no-repeat;
}

.personagens .mainBox2Details {
  background: url("../Assets/Personagens/thanos-detalhes.svg") no-repeat;
  margin-left: 169px;
  margin-right: -22px;
}

.personagens .mainBox3Details {
  background: url("../Assets/Personagens/hulk-detalhes.svg") no-repeat;
  margin-left: 125px;
}

.personagens .backgroundMainImg h2,
.personagens .mainBox1Details h2,
.personagens .mainBox2Details h2,
.personagens .mainBox3Details h2,
.personagens .mainBox1Details h3,
.personagens .mainBox2Details h3,
.personagens .mainBox3Details h3,
.personagens .mainBox1Details .aparicoes,
.personagens .mainBox2Details .aparicoes,
.personagens .mainBox3Details .aparicoes,
.personagens .backgroundMainImg span,
.personagens .backgroundMainImg p,
.personagens .mainBox1Details p,
.personagens .mainBox2Details p,
.personagens .mainBox3Details p {
  font-family: var(--type-second);
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  justify-self: center;
  margin-top: 28px;
}

.personagens .backgroundMainImg p {
  font-size: 12px;
  font-weight: lighter;
  width: 243px;
  justify-self: center;
  margin-top: 0px;
}

.personagens .backgroundMainImg span {
  font-weight: lighter;
  margin-top: 5px;
  cursor: pointer;
}

.personagens .mainBox1Details .details,
.personagens .mainBox2Details .details,
.personagens .mainBox3Details .details {
  position: absolute;
}

.personagens .mainBox1Details h2,
.personagens .mainBox2Details h2,
.personagens .mainBox3Details h2 {
  font-size: 30px;
  line-height: 30px;
  margin-top: 70px;
  margin-left: 327px;
}

.personagens .mainBox2Details h2,
.personagens .mainBox3Details h2 {
  margin-left: 48px;
}

.personagens .mainBox1Details .aparicoes,
.personagens .mainBox2Details .aparicoes,
.personagens .mainBox3Details .aparicoes {
  margin-top: 20px;
  margin-left: 330px;
}

.personagens .mainBox2Details .aparicoes,
.personagens .mainBox3Details .aparicoes {
  margin-left: 47px;
}

.personagens .mainBox1Details p,
.personagens .mainBox2Details p,
.personagens .mainBox3Details p {
  font-size: 18px;
  line-height: 22px;
  font-weight: lighter;
  margin-left: 330px;
  margin-top: 2px;
}

.personagens .mainBox2Details p,
.personagens .mainBox3Details p {
  margin-left: 47px;
}

.personagens .mainBox1Details h3,
.personagens .mainBox2Details h3,
.personagens .mainBox3Details h3 {
  font-size: 26px;
  line-height: 26px;
  margin-left: 327px;
}

.personagens .mainBox2Details h3 {
  margin-top: 48px;
}

.personagens .mainBox2Details h3,
.personagens .mainBox3Details h3 {
  margin-left: 48px;
}

.personagens .mainBox1Details .stars,
.personagens .mainBox2Details .stars,
.personagens .mainBox3Details .stars {
  margin-top: 13px;
  margin-left: 329px;
}

.personagens .mainBox2Details .stars,
.personagens .mainBox3Details .stars {
  margin-left: 48px;
}

.personagens .mainBox1Details .close,
.personagens .mainBox2Details .close,
.personagens .mainBox3Details .close {
  display: block;
  margin-left: 597px;
  margin-top: 30px;
  cursor: pointer;
}
